# Default ignored files
/../../PythonProject,Hello world./.idea/shelf/
/../../PythonProject,Hello world./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../PythonProject,Hello world./.idea/httpRequests/
# Datasource local storage ignored files
/../../PythonProject,Hello world./.idea/dataSources/
/../../PythonProject,Hello world./.idea/dataSources.local.xml
